@import "variables";

footer {
	background: @footer-background-color;
	margin: -50px 0 0 0;
	font-size: 90%;
	color: @footer-color;
	line-height: 50px;
	height: 50px;
	position: relative;
	clear: both;
	
	.download {
		float: none;
	}

	.ms {
		float: right;
	}
}
