@import "variables";

footer {
	clear: both;
	background: @footer-background-color;
	line-height: 50px;
	margin-top: 3em;
	font-size: .9em;
	color: @footer-color;
	height: 50px;

	p{
		margin: 0;
		padding: 0;
	}
	
	a {
		color: @footer-link-color;
		font-weight: bold;
	}

	span {
		float: right;
		padding-right: 1em;
	}
}
