@import "variables";

body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
	color: @text-color;
	font-size: 14px;
	-ms-text-size-adjust: 120%;
}

a {
	color: @link-color;
	text-decoration: none;

	&:hover {
		color: @link-hover-color;
	}
}

h1 {
	font-weight: 300;
	font-size: 36px;
	margin: 0 0 7px 0;
}

h2, h3, h4 {
	font-weight: normal;
}

ol {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	position: relative;
}

#contribute {
	clear: both;
	padding: 3em 0 0 0;
}
