@import "variables";

header {
	background: @header-background-color;
	color: @header-color;
	line-height: 60px;
	height: 60px;
	font-size: 1.4em;
	margin-bottom: 0;

	a {
		color: @header-color;

		&:hover{
			color: @header-color;
		}
	}

	.download {
		margin-right: 5px;
	}
}

#hero {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	width: 100%;
	color: white;
	background-color: #0c0c0c;
	text-shadow: 1px 1px #0c0c0c;
	overflow: hidden;
	max-height: 0;
	-moz-transition: max-height .5s ease-in-out;
	-o-transition: max-height .5s ease-in-out;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
	/*margin-bottom: -10px;*/

	h1 {
		margin: @container-padding 0 0 0;
	}

	p {
		font-size: 18px;
		max-width: 70%;
	}

	ul {
		margin: 0 0 @container-padding 0;
	}
}