@import "variables";

@-ms-viewport {
	width: device-width;
}

@media only screen and (max-width : 600px) {

	.container {
		position: static;
	}

	nav {
		top: @container-padding;
		right: 0;

		> ul {
			display: none;
			margin-top: 40px
		}

		#burger {
			display: inline;
		}
	}

	main {
		margin: 0;
	}
}
