@import "variables";

@break: 666px;

@media only screen and (min-width : (@break + 1)) {

	.container {
		position: relative;
	}

	nav > ul {
		visibility: visible !important;
	}

	.download {
		float: right;
		font-size: 16px;
		background: url(/themes/standard/img/arrow.png) no-repeat right center;
		color: #fff;
		padding-right: 30px;
		display: inline-block !important;

		&:hover {
			color: #fff;
		}
	}
}

@media only screen and (min-width: 1801px) {
	#hero {
		background-image: url("/pages/_assets/hero-1920.jpg");
	}
}

@media only screen and (max-width: 1800px) {
	#hero {
		background-image: url("/pages/_assets/hero-1600.jpg");
	}
}

@media only screen and (max-width: 1280px) {
	#hero {
		background-image: url("/pages/_assets/hero-1280.jpg");
	}
}

@media only screen and (max-width: 1024px) {
	#hero {
		background-image: url("/pages/_assets/hero-1024.jpg");
	}
}

@media only screen and (max-width : @break) {

	header .download {
		display: none;
	}

	nav {
		top: @container-padding;
		right: 0;

		> ul {
			visibility: hidden;
			margin-top: 40px;
			list-style: none;
		}

		#burger {
			display: inline;
		}
	}

	main {
		margin: 0;
	}

	#hero {
		background-image: url("/pages/_assets/hero-667.jpg");
		/*height: 250px !important;*/
	}
}

@media print {
	main {
		margin: 0;
	}

	#breadcrumb,
	header,
	#contribute {
		display: none;
	}
}
