@import "variables";

nav {
	position: absolute;
	top: 50px;
	right: @container-padding;
	width: @menu-width;

	#burger {
		display: none;
		color: @header-color;
		float: right;

		&:before {
			content: '☰ ';
			font-size: 15px;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li a {
			display: block;
			padding: 2px 0 0 30px;

		}

		ul {
			max-height: 0;
			overflow: hidden;

			li {
				font-size: 90%;

				&:last-child{
					margin-bottom: 10px;
				}
			}
		}
	}

	> ul {
		margin: 0;

		> li {
			border-bottom: 1px solid white;
			border-left: 4px solid @menu-background-color;
			padding: 5px 0 5px 0;
			background: url(/themes/standard/img/nav-closed.png) @menu-background-color no-repeat 10px 10px;
		}
	}

	.open {
		background-color: @menu-background-open-color;
		border-left: 4px solid @link-color;
		background-image: url(/themes/standard/img/nav-open.png);

		> ul {
			max-height: 500px;
		}
	}


	a {
		color: @menu-link-color;

		&.active {
			color: @link-color;
		}
	}
}
