<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="folder" value="~/pages" />
    <add key="editUrl" value="https://github.com/madskristensen/MarkSite/edit/master/src/MarkSite.Web/pages{0}" />
    <add key="vs:enableBrowserLink" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="BrowserLink" stopProcessing="true">
          <match url="__browserLink" />
          <action type="None" />
        </rule>

        <rule name="Index" patternSyntax="Wildcard">
          <match url="*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.cshtml?path={R:0}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>