<article>
	@if (Model.Parent != null)
	{
		<h1 itemprop="headline">@Model.Title</h1>
			<p itemprop="description">@Model.Description</p>
	}
	<div itemprop="text">
		@Helpers.RenderContent(Model)
	</div>
</article>

<a id="contribute" href="@PageSystem.GetEditPage(Model)">Edit this page on GitHub</a>