<article itemscope itemtype="http://schema.org/Article">
	<h1 itemprop="headline">@Model.Title</h1>
	<p itemprop="description">@Model.Description</p>

	<div itemprop="articleBody">
		@Helpers.RenderContent(Model)
	</div>
</article>

<aside id="contribute">
	<a href="@PageSystem.GetEditPage(Model)">Edit this page on GitHub</a>
</aside>