body {
  margin: 0;
  padding: 0;
  background: #fff;
  font: 14px/1.5em "Segoe UI", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  color: #505050;
  -ms-text-size-adjust: 120%;
}
a {
  color: #00aedd;
  text-decoration: none;
}
a:hover {
  color: #0072c6;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 25px 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
#contribute {
  padding: 3em 0 0 0;
}
header {
  background: #752767;
  color: #ffffff;
  line-height: 60px;
  font-size: 1.4em;
  margin-bottom: 30px;
}
header a {
  color: #ffffff;
}
main {
  display: block;
  margin-right: 240px;
  min-height: 600px;
}
main article > p {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2eee6;
}
nav {
  min-height: 100%;
  position: absolute;
  top: 45px;
  right: 20px;
  width: 200px;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul li {
  line-height: 25px;
}
nav ul ul {
  max-height: 0;
  overflow: hidden;
}
nav ul ul li {
  font-size: 12px;
}
nav > ul {
  margin: 0;
}
nav > ul > li {
  margin-bottom: 1px;
  border-left: 4px solid #f2eee6;
  padding: 5px 0 5px 30px;
  background: url(/themes/standard/img/nav-closed.png) #f2eee6 no-repeat 10px 10px;
}
nav .open {
  background-color: #e0e7e3;
  border-left: 4px solid #00aedd;
  background-image: url(/themes/standard/img/nav-open.png);
}
nav .open > ul {
  max-height: 500px;
}
nav a {
  color: #222222;
}
nav a.active {
  color: #00aedd;
}
#breadcrumb {
  list-style: none;
  padding: 0;
}
#breadcrumb li {
  display: inline;
}
#breadcrumb li:not(:first-child):before {
  content: ' » ';
}
footer {
  clear: both;
  background: #56504a;
  line-height: 50px;
  margin-top: 3em;
  font-size: .9em;
  color: lightgray;
  height: 50px;
}
footer p {
  margin: 0;
  padding: 0;
}
footer a {
  color: #ffffff;
  font-weight: bold;
}
footer span {
  float: right;
  padding-right: 1em;
}
@-ms-viewport {
  width: device-width;
}
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  main {
    margin: 0;
  }
}
