html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #fff;
  font: 16px/1.5em "Segoe UI", "Segoe WP Light", "Segoe WP", Tahoma, Arial, sans-serif;
  color: #505050;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a {
  color: #00aedd;
  text-decoration: none;
}
a:hover {
  color: #0072c6;
}
h1,
h2,
h3,
h4 {
  font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-weight: 400;
  margin: 25px 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
img {
  max-width: 100%;
  height: auto;
}
.content {
  min-height: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
#contribute {
  padding: 0 0 0 25px;
  margin: 50px 0 30px 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAY1BMVEVMaXEUEhIUExMVExMVExMbGxsSEhIWFBQAAAASEREVExMAAAATEREUFBQPDw8VFBQUFBQWExMVExMPDw8VExMWFRUSEhIQEBAVExMUExMTExMVFBQMDAwVFBQTERESEhIWFRUMnTeKAAAAIHRSTlMAlqOb3QkN/AU4ywJNciDkh8S1MZHjHC3Sn2nvFbCPRXKtlGIAAACMSURBVBgZPcAJkoIwFADRBkJ+ArjvOkvf/5SWmvLxUocUkYbKR+5t+gyQJ7+mDPRO92tsNnG9T/ZQdaCMMBYGrdy0o+n0RtIzzVkT4YOvh0EYhaaEQdKFZtFEp6cDb4eTdlzir3dXoe7UuMDR/+43w4/qESj7tNQZRnVfAMo2HGE0toWP9WqGebUGeAJ/CAvLFoJlxQAAAABJRU5ErkJggg==') /*/themes/standard/img/github.png*/ no-repeat left;
  clear: both;
  display: block;
}
.download {
  float: right;
  font-size: 16px;
  background: url(/themes/standard/img/arrow.png) no-repeat right center;
  color: #fff;
  padding-right: 30px;
  display: inline-block;
}
.download:hover {
  color: #fff;
}
header {
  background: #752767;
  color: #ffffff;
  line-height: 60px;
  font-size: 1.4em;
  margin-bottom: 30px;
}
header a {
  color: #ffffff;
}
header .download {
  margin-right: 5px;
}
main {
  display: block;
  margin-right: 240px;
  overflow: auto;
  padding-bottom: 50px;
}
main article > p {
  padding-bottom: 20px;
  border-bottom: 1px solid #f2eee6;
}
main aside {
  overflow: hidden;
}
main aside h2 {
  padding-top: 20px;
  border-top: 1px solid #f2eee6;
}
main aside section {
  float: left;
  margin-right: 50px;
}
main aside section h3 {
  margin: 0;
}
main aside section ul {
  list-style: none;
  padding-left: 20px;
}
nav {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 200px;
}
nav #burger {
  display: none;
  color: #ffffff;
  float: right;
}
nav #burger:before {
  content: '☰ ';
  font-size: 15px;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li a {
  display: block;
  padding: 2px 0 0 30px;
}
nav ul ul {
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}
nav ul ul li {
  font-size: 90%;
}
nav ul ul li:last-child {
  margin-bottom: 10px;
}
nav > ul {
  margin: 0;
}
nav > ul > li {
  border-bottom: 1px solid white;
  border-left: 4px solid #f2eee6;
  padding: 5px 0 5px 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEVMaXH29vb29vb29vaGhoZCQkJNTU3U1NS+6h2SAAAAA3RSTlMAMO8VhQ3EAAAAM0lEQVQI12NgQABGGINJAMpgVoQxnKBCzCFQIeYwqBBzeIoiGgMuBVcM166IbgUjAwoAAHC/BR3lwinSAAAAAElFTkSuQmCC') /*/themes/standard/img/nav-closed.png*/ #f2eee6 no-repeat 10px 10px;
}
nav .open {
  background-color: #e0e7e3;
  border-left: 4px solid #00aedd;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEVMaXH29vb29vb29vZCQkL29vazs7PJycnU1NRCTyjsAAAABHRSTlMAQJ8QKGdt6wAAADJJREFUCNdjYMAOmGAMVZhAKpSh5goVSIEy1FxcoQJQhpoLhMEUUV5eCmIYCgIBA1EAAKzvBmjcnChlAAAAAElFTkSuQmCC') /*/themes/standard/img/nav-open.png*/;
}
nav .open > ul {
  max-height: 300px;
}
nav a {
  color: #222222;
}
nav a.active {
  color: #00aedd;
}
nav a[data-spinner] {
  position: relative;
  background: url(/themes/standard/img/spinner2.gif) no-repeat 13px 9px;
}
#breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}
#breadcrumb li {
  display: inline;
}
#breadcrumb li:not(:first-child):before {
  content: ' » ';
}
footer {
  background: #56504a;
  margin: -50px 0 0 0;
  font-size: 90%;
  color: lightgray;
  line-height: 50px;
  height: 50px;
  position: relative;
  clear: both;
}
footer .download {
  float: none;
}
footer .ms {
  float: right;
}
@-ms-viewport {
  width: device-width;
}
@media only screen and (max-width: 700px) {
  .container {
    position: static;
  }
  header .download {
    display: none;
  }
  nav {
    top: 20px;
    right: 0;
  }
  nav > ul {
    display: none;
    margin-top: 40px;
  }
  nav #burger {
    display: inline;
  }
  main {
    margin: 0;
  }
}
