@{
	Layout = "views/_layout.cshtml";
	MarkdownPage page = PageSystem.GetCurrentPage(Request);

	Page.Title = PageSystem.GetTitle(page);
	Page.Description = page.Description;
	Page.Keywords = page.Keywords;

	if (!Request.IsLocal)
	{
		Response.Cache.SetValidUntilExpires(true);
		Response.Cache.SetCacheability(HttpCacheability.ServerAndPrivate);
		Response.Cache.VaryByParams["path"] = true;
		Response.Cache.SetLastModified(page.DateModified);
		Response.AddCacheItemDependency(PageSystem.CACHE_KEY);
	}
}

<article itemscope itemtype="http://schema.org/Article">
	<h1 itemprop="headline">@page.Title</h1>
	<p itemprop="description">@page.Description</p>

	<div itemprop="articleBody">
		@Html.Raw(page.Content)
	</div>
</article>

<aside id="contribute">
	<a href="@PageSystem.GetEditPage(page)">Edit this page on GitHub</a>
</aside>