<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="webMarkupMin">
            <section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core" />
            <section name="webExtensions" type="WebMarkupMin.Web.Configuration.WebExtensionsConfiguration, WebMarkupMin.Web" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <!-- The relative path to the folder containing the markdown files -->
        <add key="pageFolder" value="~/pages" />
        <!-- Change the editURL to point to the right GitHub repo -->
        <add key="editUrl" value="https://github.com/madskristensen/MarkSite/blob/master/src/pages{0}" />
        <!-- The theme must match the name of a folder in the "themes" directory -->
        <add key="theme" value="standard" />
        <add key="name" value="Visual Studio | Web" />
        <add key="description" value="Visual Studio gives you the open tools and the flexibility you need to create and deploy modern web applications today" />

        <add key="vs:enableBrowserLink" value="true" />
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false" />

        <customErrors mode="Off">
            <error statusCode="404" redirect="~/404.cshtml"/>
        </customErrors>
    </system.web>

    <system.webServer>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" cacheControlCustom="public" />

            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>

            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
        </staticContent>

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" responseMode="ExecuteURL" path="/404.cshtml" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" responseMode="ExecuteURL" path="/404.cshtml?status=500" />
        </httpErrors>

        <httpProtocol>
            <customHeaders>
                <remove name="x-powered-by" />
                <add name="Content-Security-Policy" value="object-src 'none';" />
                <add name="Arr-Disable-Session-Affinity" value="True" />
            </customHeaders>
        </httpProtocol>

        <modules>
            <add name="HtmlMinifier" type="WebMarkupMin.Web.HttpModules.HtmlMinificationModule"/>
        </modules>

        <defaultDocument>
            <files>
                <remove value="index.cshtml" />
                <add value="index.cshtml" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <rule name="BrowserLink" stopProcessing="true">
                    <match url="__browserLink" />
                    <action type="None" />
                </rule>

                <rule name="sitemap.xml" patternSyntax="Wildcard">
                    <match url="sitemap.xml" />
                    <action type="Rewrite" url="views/sitemap.cshtml" />
                </rule>

                <rule name="Robots.txt" patternSyntax="Wildcard">
                    <match url="robots.txt" />
                    <action type="Rewrite" url="views/robots.cshtml" />
                </rule>

                <rule name="appcache.manifest" patternSyntax="Wildcard">
                    <match url="appcache.manifest" />
                    <action type="Rewrite" url="views/appcache.cshtml" />
                </rule>

                <rule name="fingerprint" stopProcessing="true">
                    <match url="(.+)(_([0-9]{18})+\.)([\S]+)" />
                    <action type="Rewrite" url="{R:1}.{R:4}" />
                </rule>

                <rule name="Index" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="404" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.cshtml?path=/{R:0}" />
                </rule>
            </rules>

            <outboundRules>
                <rule name="Send correct Vary">
                    <match serverVariable="RESPONSE_Vary" pattern=".+" />
                    <action type="Rewrite" value="Accept-Encoding, If-Modified-Since, X-Content-Only" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>

    <webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
        <webExtensions enableMinification="true" enableCompression="false" disableCopyrightHttpHeaders="true" />
        <core>
            <html removeOptionalEndTags="false" attributeQuotesRemovalMode="Html5" removeRedundantAttributes="false" whitespaceMinificationMode="Aggressive" />
            <css>
                <minifiers>
                    <add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
                    <add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core" />
                </minifiers>
            </css>
            <js>
                <minifiers>
                    <add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
                    <add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core" />
                </minifiers>
            </js>
            <logging>
                <loggers>
                    <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
                    <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
                </loggers>
            </logging>
        </core>
    </webMarkupMin>
</configuration>